.main-nav > li.act:not(.wpml-ls-item) > a .menu-text,
.main-nav > li.act:not(.wpml-ls-item) > a .subtitle-text {
  color: #111111;
}
.main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .subtitle-text,
.main-nav > li:not(.act):not(.wpml-ls-item) > a:hover .menu-text,
.main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .subtitle-text,
.main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a .menu-text {
  color: #2692ea;
  background: -webkit-gradient(linear,left top,right top,color-stop(32%,#2692ea),color-stop(100%,#7539fc));
  background: -webkit-linear-gradient(left,#2692ea 32%,#7539fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-nav > li:not(.act):not(.wpml-ls-item) > a:hover,
.main-nav > li.dt-hovered:not(.act):not(.wpml-ls-item) > a {
  color: #2692ea;
}
.top-header .main-nav.level-arrows-on > li.has-children > a .menu-text:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='8px' height='8px' viewBox='0 0 8 8' fill='%23111111' enable-background='new 0 0 8 8' xml:space='preserve'%3E%3Cpolygon points='7.825,2.5 6.976,1.6 4.289,4.417 3.66,4.417 0.975,1.6 0.176,2.5 3.66,6 3.975,6 4.289,6 '/%3E%3C/svg%3E");
}
.sub-sideways .main-nav.level-arrows-on > li.has-children > a:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='14px' viewBox='0 0 14 14' enable-background='new 0 0 14 14' fill='rgba(17,17,17,0.17)' xml:space='preserve'%3E%3Cpolygon points='7.35,1 5.935,2.414 10.52,7 5.935,11.586 7.35,13 13,7.353 13,7 13,6.646 '/%3E%3C/svg%3E");
}
.sub-downwards .main-nav.level-arrows-on > li.has-children > a:after,
.sub-downwards .next-level-button,
.sub-downwards .main-nav > li.menu-item-language > a:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='14px' height='14px' viewBox='0 0 14 14' enable-background='new 0 0 14 14' fill='rgba(17,17,17,0.17)' xml:space='preserve'%3E%3Cpolygon points='14,6 8,6 8,0 6,0 6,6 0,6 0,8 6,8 6,14 8,14 8,8 14,8 '/%3E%3C/svg%3E");
}
.top-header .main-nav.level-arrows-on > li.has-children:not(.act) > a:hover .menu-text:after,
.top-header .main-nav.level-arrows-on > li.dt-hovered.has-children:not(.act) > a .menu-text:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='8px' height='8px' viewBox='0 0 8 8' fill='%232692ea' enable-background='new 0 0 8 8' xml:space='preserve'%3E%3Cpolygon points='7.825,2.5 6.976,1.6 4.289,4.417 3.66,4.417 0.975,1.6 0.176,2.5 3.66,6 3.975,6 4.289,6 '/%3E%3C/svg%3E");
}
.top-header .main-nav.level-arrows-on > li.has-children.act > a .menu-text:after {
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='8px' height='8px' viewBox='0 0 8 8' fill='%23111111' enable-background='new 0 0 8 8' xml:space='preserve'%3E%3Cpolygon points='7.825,2.5 6.976,1.6 4.289,4.417 3.66,4.417 0.975,1.6 0.176,2.5 3.66,6 3.975,6 4.289,6 '/%3E%3C/svg%3E");
}
.main-nav > li > a .subtitle-text {
  font: italic normal normal 11px / 15px "Arial", Helvetica, Arial, Verdana, sans-serif;
}
